@{
    ViewBag.Title = "Posting XML HTTP requests - CSRF and Web API";
}

@functions {
    public string CsrfTokens()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);

        return cookieToken + ":" + formToken;
    }
}

<h2>Posting XML HTTP requests - CSRF and Web API</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label for="name" class="control-label col-md-3">Value:</label>
        <div class="col-md-9">
            <input type="text" name="value" class="form-control" />
        </div>
    </div>
    <button id="submit" type="button" class="btn btn-primary">Submit</button>
</div>
<hr />

<div id="target"></div>

@section scripts {
    <script type="text/javascript">
        (function ($) {
            
            function postAjax() {
                var data = { value: document.getElementsByName('value')[0].value }
                var target = document.getElementById('target');

                $.ajax({
                    url: '/api/csrf/values',
                    data: window.JSON.stringify(data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        '@ValidateApiAntiForgeryTokenAttribute.AntiForgeryTokenHeaderName': '@CsrfTokens()'
                    }
                })
                    .fail(function (xhr) {
                        target.innerHTML = '<p>POST failed (' + xhr.status + ' ' + xhr.statusText + ')!<br/>Result: <pre style="white-space: preserve">' + xhr.responseText + '</pre></p>';
                    })
                    .done(function (result) {
                        target.innerHTML = '<p>POST succeeded.<br/>Result: <pre style="white-space: preserve">' + window.JSON.stringify(result) + '</pre></p>';
                    });
            }

            var btn = document.getElementById('submit');
            btn.addEventListener('click', postAjax);

        })(jQuery);
    </script>
}